<p style="color: green"><%= notice %></p>

<h1>Orders</h1>

<table>
  <tr>
    <th>Price</th>
    <th>Description</th>
    <th>Line item price</th>
    <th>References</th>
  </tr>
  <% @orders.each do |order| %>
    <%= render order %>
  <% end %>
</table>

<%= link_to "New order", new_order_path %>
